# Node.js dependencies
node_modules/

# Build files and output directories
dist/
frontend/build/
*.AppImage
*.deb
*.exe
*.dmg

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/

# SQLite database files (if you don’t want to version them)
backend/invoices.db

# Electron and React artifacts
*.asar
*.env
